[Unit]
Description=Pinger logger service
After=webapp.service

[Service]
Type=simple
ExecStart=/opt/pinger-logger/pinger-logger

[Install]
WantedBy=multi-user.target